[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
notebook = "*"
matplotlib = "*"
torchaudio = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torch = {version = "*", index = "pytorch"}
tqdm = "*"


[dev-packages]

[requires]
python_version = "3.10"
